{
  "env": {
    "test": {
      "plugins": [
        "@babel/transform-modules-commonjs"
      ]
    },
    "npm": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "node": 8
            }
          }
        ]
      ]
    },
    "browser": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false,
            "targets": {
              "browsers": [
                "chrome >= 54",
                "firefox >= 45",
                "last 2 edge versions",
                "last 1 safari version"
              ]
            },
            "exclude": [
              "transform-for-of"
            ]
          }
        ]
      ]
    },
    "minify": {
      "presets": [
        "minify"
      ]
    }
  }
}
