{
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-es2015-block-scoping"
      ]
    },
    "npm": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": 6
            },
            "exclude": [
              "transform-es2015-for-of"
            ]
          }
        ]
      ],
      "plugins": [
        "transform-es2015-block-scoping"
      ]
    },
    "browser": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "targets": {
              "browsers": [
                "chrome >= 54",
                "firefox >= 45",
                "last 2 edge versions",
                "last 1 safari version"
              ]
            },
            "exclude": [
              "transform-es2015-for-of"
            ]
          }
        ]
      ],
      "plugins": [
        "transform-es2015-block-scoping"
      ]
    },
    "minify": {
      "presets": [
        "minify"
      ]
    }
  }
}
